[user]
  	signingkey = 3CB29D135A367559
  	email = 112516550+fabriciomj@users.noreply.github.com
  	name = Fabricio Jacome
[commit]
  	gpgsign = true
[init]
  	defaultBranch = main
[tag]
  	gpgSign = true
[credential]
	helper = manager
{{- if eq .chezmoi.os "work-laptop" }}
[gpg]
	program = /mnt/c/Program Files/Git/usr/bin/gpg.exe
[core]
	sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
{{- end }}
