[user]
  	signingkey = 3CB29D135A367559
  	email = 112516550+fabriciomj@users.noreply.github.com
  	name = Fabricio Jacome
[commit]
  	gpgsign = true
[init]
  	defaultBranch = main
[tag]
  	gpgSign = true
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[gpg]
	program = gpg.exe
[core]
	sshCommand = ssh.exe
	autocrlf = input
{{   end }}
{{ end }}
